<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="LeagueOverlay.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <!--NOT WORKING !! Do not use, it's useless-->
    <!--Key bindings-->
    <!--
		<add key="BSFrogKey" value="0x68" />
		<add key="BSWolfsKey" value="1" />
		<add key="BSRaptorsKey" value="2" />
		<add key="BSKrugsKey" value="2" />
		<add key="TSFrogKey" value="2" />
		<add key="TSWolfsKey" value="2" />
		<add key="TSRaptorsKey" value="2" />
		<add key="TSKrugsKey" value="2" />
		-->
    <!--\\\\\\\\\\\\-->
    <!--

		
		-->
    <!--Coorinates of timers-->
    <!--
		<add key="0" value="10" /> -->
    <!--BSFrogX-->
    <!--
		<add key="1" value="15" /> -->
    <!--BSFrogY-->
    <!--
		<add key="2" value="30" /> -->
    <!--BSWolfX-->
    <!--
		<add key="3" value="35" /> -->
    <!--BSWolfY-->
    <!--
		<add key="4" value="50" /> -->
    <!--BSRaptorsX-->
    <!--
		<add key="5" value="55" /> -->
    <!--BSRaptorsY-->
    <!--
		<add key="6" value="70" /> -->
    <!--BSRocksX-->
    <!--
		<add key="7" value="75" /> -->
    <!--BSRocksY-->
    <!--
		<add key="8" value="80" /> -->
    <!--TSFrogX-->
    <!--
		<add key="9" value="90" /> -->
    <!--TSFrogY-->
    <!--
		<add key="10" value="100" /> -->
    <!--TSWolfsX-->
    <!--
		<add key="11" value="110" /> -->
    <!--TSWolfsY-->
    <!--
		<add key="12" value="130" /> -->
    <!--TSRaptorsX-->
    <!--
		<add key="13" value="145" /> -->
    <!--TSRaptorsY-->
    <!--
		<add key="14" value="160" /> -->
    <!--TSRocksX-->
    <!--
		<add key="15" value="170" /> -->
    <!--TSRocksY-->
    <!--
		-->
    <!--\\\\\\\\\\\\\\\\\\\\-->
    <!--

		<add key="isSaved" value="0" />-->
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <userSettings>
    <LeagueOverlay.Properties.Settings>
      <setting name="BSFrog" serializeAs="String">
        <value>NumPad8</value>
      </setting>
      <setting name="BSWolfs" serializeAs="String">
        <value>NumPad7</value>
      </setting>
      <setting name="BSRaptors" serializeAs="String">
        <value>NumPad4</value>
      </setting>
      <setting name="BSRocks" serializeAs="String">
        <value>NumPad1</value>
      </setting>
      <setting name="TSFrog" serializeAs="String">
        <value>NumPad2</value>
      </setting>
      <setting name="TSWolfs" serializeAs="String">
        <value>NumPad3</value>
      </setting>
      <setting name="TSRaptors" serializeAs="String">
        <value>NumPad6</value>
      </setting>
      <setting name="TSRocks" serializeAs="String">
        <value>NumPad9</value>
      </setting>
      <setting name="BSFrogCoords" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="BSWolfsCoords" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="BSRaptorsCoords" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="BSRocksCoords" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="TSFrogCoords" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="TSWolfsCoords" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="TSRaptorsCoords" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="TSRocksCoords" serializeAs="String">
        <value>0, 0</value>
      </setting>
    </LeagueOverlay.Properties.Settings>
  </userSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>